body { margin: 20px; background: #fafafa; font-family: "Lato", sans-serif; font-size: 15px; tab-size: 4; line-height: 180%; color: #111; }

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { font-weight: 300; }
h1 { font-size: 28px; margin: 0; padding: 8px 0; }
h2 { font-size: 25px; margin: 0; padding: 6px 0; }
h2 > a { color: #226cbd; text-decoration: none; }

a { text-decoration: none; color: #226cbd; font-weight: bold; }
a:hover { text-decoration: underline; }

blockquote { padding: 10px 20px; margin: 10px 0; background: #cef; border-left: 10px solid rgba(0,0,0,.05); }
blockquote p:first-child { margin-top: 0; }
blockquote p:last-child { margin-bottom: 0; }

header { margin: 0 auto; max-width: 900px; }
main { margin: 0 auto; max-width: 900px; }
footer { margin: 0 auto; max-width: 900px; }

.preview { padding: 20px 0; border-radius: 2px; border-top: 1px solid #ddd; }
.preview:first-of-type { border-top: 0; }
.preview header { font-size: 12px; }
.header-sub { color: #666; }
.header-sub .fa { margin: 0 6px 0 0; }
.header-sub-item, .footer-item { margin-right: 10px; }
.excerpt { color: #444; }

.preview header, .post header, .body-tags header { font-size: 12px; }
.preview header a, .post header a, .body-tags header a { color: #666; }

footer { /* disqus color */ border-top: 2px solid rgba(0,39,59,.08); margin-top: 10px; padding: 20px 0 0 0; }
footer a { color: #666; }

code { font-family: "Source Code Pro", monospace; }
p code { border-radius: 3px; background-color: #fff; border: 1px solid rgba(0,0,0,.05); padding: 2px 5px; }
pre { background-color: #fff; margin: 15px 0; padding: 20px; border-radius: 3px; }
.hljs { background-color: transparent; padding: 0; margin: 0; }
