body { margin: 0; background: #fafafa; font-family: "Bitter", serif; font-size: 16px; tab-size: 4; line-height: 27px; color: #000; }
article { padding: 30px 40px 0 40px; margin: 0 auto; max-width: 800px; min-height: 100vh; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code { font-weight: 300; }
h1 { font-size: 28px; margin: 0; padding: 8px 0; }
h2 { font-size: 25px; margin: 25px 0 15px 0; padding: 10px 0; }
h2 > a { color: #226cbd; text-decoration: none; }

a { text-decoration: none; color: #226cbd; font-weight: bold; }
a:hover { text-decoration: underline; }

blockquote { padding: 10px 30px; margin: 15px 0; position: relative; color: rgb(0,100,200); }
blockquote::before { content: "\f10d"; color: rgb(0,100,200); font-family: "FontAwesome"; font-size: 14px; position: absolute; left: 5px; top: 2px; }
blockquote::after { content: "\f10e"; color: rgb(0,100,200); font-family: "FontAwesome"; font-size: 14px; position: absolute; right: 5px; bottom: 2px; }
blockquote p:first-child { margin-top: 0; }
blockquote p:last-child { margin-bottom: 0; }

hr { height: 0; border: 0; border-bottom: 1px solid #ddd; margin: 20px 0; }

.preview { padding: 10px 0 20px 0; border-top: 1px solid #ddd; }
.preview:first-of-type { border-top: 0; }
.preview h2 { margin: 4px 0; }
.preview header { font-size: 12px; }
.header-sub { color: #666; }
.header-sub .fa { margin: 0 6px 0 0; }
.header-sub-item { margin-right: 10px; }
.excerpt { color: #444; margin-top: 8px; }
.excerpt p:first-child { margin-top: 0; }
.excerpt p:last-child { margin-bottom: 0; }

.preview header, .post header, .body-tags header { font-size: 12px; }
.preview header a, .post header a, .body-tags header a { color: #226cbd; }

footer { font-size: 15px; border-top: 2px solid rgba(0,39,59,.08); margin: 4px 0 0 0; padding: 20px 0; }
footer a { color: #666; }
.footer-item { margin-right: 20px; }

.post main img { max-width: 100%; box-shadow: 0 0 6px rgba(0,0,0,.1), 0 0 30px rgba(0,0,0,.1); }
.post main table { max-width: 100%; }

code { font-family: "Source Code Pro", monospace; font-size: 14px; overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; }
p code { border-radius: 3px; background-color: #fff; border: 1px solid rgba(0,0,0,.05); padding: 2px 5px; }
pre { background-color: #fff; margin: 15px -20px; padding: 15px 20px; border: 1px solid #eee; border-radius: 4px; white-space: pre-wrap; }

.update { text-align: center; margin: 15px -20px; padding: 15px 20px; background: #fff; border: 1px solid #eee; border-radius: 4px; }
.quicktip { color: #543; font-weight: bold; text-align: center; margin: 15px -20px; padding: 15px 20px; background: #fff; border: 1px solid #eee; border-radius: 4px; }
.related-posts { margin: 20px 0; }
.related-posts ul { margin: 0; padding: 0 0 0 30px; }
.related-posts li { margin: 0; padding: 0; }

#disqus_thread { margin-top: 30px; }

::-moz-selection { background: #fff9c0; }
::selection { background: #fff9c0; }
