<!doctype html>
<html>

<head>
	<title>{{page.title}}</title>

	<meta charset="utf-8" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@kelunik" />
	<meta name="twitter:creator" content="@kelunik" />
	<meta property="og:url" content="{{page.url}}" />
	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:description" content="kelunik's blog about PHP and beyond." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karma|Source+Code+Pro" />
	<link rel="stylesheet" href="/css/screen.css" />
	<link rel="stylesheet" href="/css/hljs.css" />

	<link rel="alternate" type="application/rss+xml" href="/rss.xml" />

	<script>
		var disqus_shortname = "kelunik";

		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-47364804-6', {
			'siteSpeedSampleRate': 10
		});

		ga('send', 'pageview');
	</script>
</head>

<body>
	<article>
		<header>
			<h1>kelunik's blog</h1>
		</header>

		<main>
			{{content}}
		</main>

		<footer>
			<a class="footer-item" href="https://twitter.com/kelunik" target="_blank"><i class="fa fa-twitter"></i> kelunik</a>
			<a class="footer-item" href="https://github.com/kelunik" target="_blank"><i class="fa fa-github"></i> kelunik</a>
			<a class="footer-item" href="https://raw.githubusercontent.com/kelunik/kelunik.github.io/master/pgp.asc"><i class="fa fa-key"></i> PGP Key</a>
		</footer>
	</article>

	<script src="//kelunik.disqus.com/count.js" async defer></script>
</body>

</html>
